{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Nos Formations</h1>
        <p>
            Bienvenue sur la page des formations. Ici, vous trouverez prochainement toutes les informations concernant les différentes formations proposées sur notre site.
        </p>
        <div class="alert alert-info mt-4" role="alert">
            Cette section est en cours de construction. Revenez bientôt pour découvrir notre offre de formations !
        </div>
    </div>
{% endblock %}