<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="relative min-h-screen w-full text-slate-800">
          <!-- Navbar -->
        <nav class="fixed top-0 left-0 right-0 z-50 px-6 py-4 bg-white/60 backdrop-blur-lg border-b border-white/40 shadow-sm transition-all duration-300">
            <div class="max-w-7xl mx-auto flex items-center justify-between">
                {% include 'navbar/_brand.html.twig' %}
                {% include 'navbar/_links.html.twig' %}
                {% include 'navbar/_user.html.twig' %}
            </div>
        </nav>

        {% block body %}
            
        {% endblock %}

        </div>
    </body>
</html>
